@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  justify-self: center;
  align-items: center;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #4a98f7;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
  z-index: 100000;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
  z-index: 100000;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  cursor: text;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}
.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}
.contentContainer,
.policy {
  margin-top: 100px;
}
.searchBox {
  margin: 20px;
  margin-left: 50%;
}
.accordion {
  margin: 20px auto;
  width: 90%;
  cursor: text;
}
.accordion li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background: #e3edf7;
  /* box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7); */
}
.accordion li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.accordion li label::before {
  font-family: FontAwesome;
  content: "\f0d7";
  margin-right: 10px;
  font-size: 24px;
  color: #7257fa;
  font-weight: 600;
}
.accordion input[type="checkbox"] {
  display: none;
}
.accordion .content {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="checkbox"]:checked + label + .content {
  max-height: 600px;
  padding: 10px 10px 20px;
  overflow: scroll;

}
.accordion input[type="checkbox"]:checked + label::before {
  font-family: FontAwesome;
  content: "\f0d8";
}
.toolCard {
  --border-radius: 0.75rem;
  --primary-color: #7257fa;
  --secondary-color: #3c3852;
  width: 300px;
  padding: 1rem;
  margin-bottom: 20px;
  margin-right: 8px;
  cursor: pointer;
  display: inline-block;
  border-radius: var(--border-radius);
  background: #f1f1f3;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
  justify-content: center;
  z-index: 1;

}
.toolCard > * + * {
  margin-top: 1.1em;
}
.toolCard .card__content {
  color: var(--secondary-color);
  font-size: 0.86rem;
  margin-top: 5px;
}
.toolCard .card__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #111;
}
.toolCard .card__arrow {
  position: absolute;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toolCard .card__like {
  position: absolute;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  top:0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toolCard .card__date {
  color: #6e6b80;
  font-size: 0.8rem;
  margin: 0;
}
.toolCard a .card__arrow,.card__like{
  color: #111;
}
.toolCard i {
  transition: 0.2s;
} /* hover */
.toolCard:hover {
  border: 1px solid white;
}
.toolCard:hover .card__title {
  color: var(--primary-color);
  text-decoration: underline;
}
.toolCard .card__arrow:hover{
  background: #111;
}
.toolCard .card__like:hover{
  background: #111;
}
.toolCard .card__arrow:hover i {
  transform: translateX(3px);
  color: #7257fa;
}
.toolCard .card__like:hover i {
  font-size: 17px;
  color: #7257fa;
}
.toolCardTitle h3 {
  margin: 20px;
  text-align: center;
  color: #666;
} /*footer section*/
footer {
  font-weight: 400;
  user-select: none;
  box-sizing: border-box;
}
.footer {
  padding: 40px 0;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #4b4c4d;
  user-select: none;
}
.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
.footer .social a:hover {
  opacity: 0.9;
}
.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer ul li a.on {
  color: #4a98f7;
}
.footer ul li a:hover {
  color: #4a98f7;
  box-sizing: border-box;
}
.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  color: #aaa;
}
.footer .span {
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer .copyright a {
  text-decoration: none;
  color: #aaa;
}
.hero {
  width: auto;
  height: auto;
  padding: 10px 10%;
}
.hero h3 {
  font-weight: 400;
  font-size: 30px;
}
.hero h1 {
  margin-top: 30px;
  font-size: 42px;
}
.hero h1 #home::before {
  content: "";
  animation: animate infinite 10s;
  color: #0080ff;
}
.hero p {
  margin: 10px 0 25px;
}
.hero form {
  background: #fff;
  display: flex;
  width: fit-content;
}
.hero form input {
  border-right: #fff;
  outline: none;
  padding: 10px 20px;
  height: 26px;
  width: 300px;
  font-size: 16px;
  display: flex;
  border-radius: 6px 0 0 6px;
}
.hero form button {
  background: #0080ff;
  border-radius: 0 6px 6px 0;
  outline: none;
  height: 50px;
  width: 67px;
  cursor: pointer;
  border-left: #fff;
}
.hero form button:hover {
  background: #61b752;
}
.hero #msg {
  color: #61b752;
  margin-top: 10px;
  display: block;
}
@keyframes animate {
  0% {
    content: "Branding Tools";
  }
  20% {
    content: "Branding Tools ";
  }
  40% {
    content: "Branding Tools ";
  }
  60% {
    content: "Branding Tools";
  }
  100% {
    content: "Branding Tools";
  }
} /* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
    z-index: 999999;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .toolCard {
    width: auto;
    display: block;
  }
  .accordion {
    width: 340px;
  }
  .contentContainer {
    margin-top: 130px;
  }
  .footer ul li {
    display: block;
  }
}
@media screen and (max-width: 368px) {
  .accordion {
    margin: 20px -9px;
  }
}
